/* GLOBAL STYLES
======================== */

*, *:before, *:after {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html {
  font-size: 15px;
  color: #282828;
}

body {
  font-family: "GothamPro", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  height: 85px;
  box-shadow: 0 5px 5px #f1f1f1;
  margin-bottom: 100px;
}

.footer {
  position: relative;
  height: 85px;
  background-color: #f1f1f1;
  margin-top: 100px;
}

.made-with-love {
  position: absolute;
  width: 250px;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
}

/* INDEX.HTML STYLES
======================== */

.learn-logo {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 28px;
}

.roster-text-container {
  margin: 0 auto 100px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.roster-text-container h1 {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #63bedc;
  margin-bottom: 5px;
}

.roster-text-container h2 {
  width: 75%;
  margin: 0 auto;
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
}

.roster-cards-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.student-card {
  position: relative;
 background-image: url("https://learn-verified.s3.amazonaws.com/profile-photo-placeholder.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 305px;
  min-height: 400px;
  margin: 20px auto;
  border-radius: 5px;
}

.student-card:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, .0) 50%);
  border-radius: 5px;
}

.student-card a {
  position: relative;
  display: block;
  height: 400px;
}
#harleigh-abel-cover {
  background-image: url("http://imgur.com/DcORMot");
}

#harleigh-abel-card {
  background-image: url("http://imgur.com/QOETNBw");
}